:root {
  --yellow: #fec654;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("background.png");
  min-height: 10rem;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header,
main {
  padding-inline: 25vw;
}

.browse-movies-btn {
  font-size: 1.25rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.placeholder-container-watchlist {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.placeholder-container-watchlist > h2 {
  color: grey;
}

.hidden {
  display: none;
}

.movies-container {
  margin-top: 2rem;
}

.movie {
  display: flex;
  height: 15rem;
  margin: 2rem 0 2rem 0;
}

.movie-poster {
  border-radius: 2px;
}

.title-rating,
.runtime-genre-watchlist {
  display: flex;
}

.remove-watchlist-btn {
  background-color: white;
}

.yellow {
  color: var(--yellow);
}

button,
a {
  cursor: pointer;
}

.runtime-genre-watchlist,
.rating,
.remove-watchlist-btn {
  font-size: 12px;
}

.remove-watchlist-btn {
  border: none;
}

.plot {
  color: #6b7280;
}
